services:
  broker-service:
    build:
      context: ./../services/broker-service
      dockerfile: ./../services/broker-service/broker-service.dockerfile
    restart: always
    ports:
      - "8080:80"
    deploy:
      mode: replicated
      replicas: 1